@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&family=Rubik:wght@500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family:var(--global-family) !important;
  color: var(--secondary-color);
}

:root{
  --primary-color:#0de0fe;
  --secondary-color:#15558d;
  --global-family:Poppins;
  --secondary-section-bf:#f8f9fa
}


